.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.item a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.item a:hover {
    color: aqua;
    cursor: pointer;
}

.item a.selected {
    color: rgb(61, 145, 35);
}